/* :root {
  --tester-border: solid 2px;
} */

.App {
margin: 0;
min-height: 100vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;

}


/* --------------------------------------------------- */
.icon__container {
  background-color: rgb(49, 52, 96);
  
  min-width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.icon__container span {
  font-size: 30px;
  font-weight: 600;
  color: white;
}

.load-file__icon {
  font-size: 200px;
  color: rgb(224, 224, 224);
}

@media (prefers-reduced-motion: no-preference) {
  .load-file__icon {
    animation: load-file-spin infinite 6s linear;
  }
}

@keyframes load-file-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* -------------------------------------------------------------------- */

.card-wheater__container {
  color: rgb(0, 0, 0);
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  /* box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.246); */
  
  text-align: center;

  background-color: rgba(33, 71, 137, 0.547);
  width: min(300px, 85%);

  border: 5px solid rgba(255, 255, 255, 0.18);
}

.card__country{
  background-color: rgba(3, 13, 64, 0.522);

  padding: 10px 0;

  font-size: 30px;
  font-weight: 700;
  color: #dbdbdb;
  text-shadow: 2px 2px 2px rgba(28, 28, 28, 0.965);

  border-radius: 5px;
}

.card__weather-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  /* border: var(--tester-border) violet; */
}


.card__picture {
  margin: 0;
  padding: 0;
  width: 80%;
  border: var(--tester-border) green;
}

.picture__wheater {
  height: 22vh;
}

.card__weather-info {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;
  gap: 5px;
  padding: 10px 0;

  font-size: 17px;
  background-color: rgba(26, 20, 51, 0.825);
  color: rgb(170, 169, 169);

  width: 90%;

  border-radius: 5px;
  /* border: var(--tester-border) green; */
}

.card__hover {
  border-radius: 5px;
  padding: 0 2px;
}

.card__hover:hover{
  background-color: rgb(58, 112, 112);
  transition: 0.25s;
}

.card__principal-section{
  /* background-color: rgba(255, 255, 255, 0.009); */
  border-bottom: solid 2px rgba(118, 118, 118, 0.796);
  border-radius: 1px;
  padding: 2px 4px 5px 5px;
  margin-bottom: 4px;

  text-shadow: 2px 2px 2px rgba(28, 28, 28, 0.965);
  
  align-self: center;
}

.weather__title{
  font-size: 21px;
  color: rgba(255, 255, 255, 0.756);
  font-style: italic;

  /* margin-bottom: 3px; */
  /* padding: 5px; */
  /* background-color: rgba(255, 255, 255, 0.125); */
  /* border-radius: 5px; */
}

.weather__temperature {
  font-size: 27px;
  font-weight: 500;
  color: rgb(255, 255, 255);

  /* margin-bottom: 3px; */
  /* padding: 5px; */
  /* background-color: rgba(255, 255, 255, 0.125);
  border-radius: 5px; */
}

.weather__min-max{
  font-size: 15px;
}

.card__secondary-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  gap: 6px;
  
  /* border: 2px solid salmon; */
  width: 90%;

  margin: 2px 0;
}

.card__data{
  display: flex;
  gap: 6px;
  align-items:center;
}

.card__data i{
  font-size: 21px;
  color: rgb(201, 202, 202);
}

.card__button-section {
  border: var(--tester-border) brown;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.431);
}

.card__button {
  margin: 5px 0;
  padding: 10px;


  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 0.208);
  
  color: rgb(247, 239, 239);
  font-size: 18px;

  background-color: rgba(3, 13, 64, 0.522);
}

.card__button:hover {
  background-color: rgba(133, 182, 228, 0.817);
  transition: 0.5s;
  cursor: pointer;
}

@media screen and (min-width: 500px) {
  .card-wheater__container {
    width: min(500px, 85%);
  }
  
  .card__weather-section {
    display: flex;
    flex-direction: row;
  }

  .card__weather-info {
    /* align-items:center; */
    padding: 10px 15px;
  
    font-size: 18px;
  }

  .picture__wheater {
    height: 100%;
  }

  .card__secondary-section{
    align-items:flex-start;
  }
}